@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.view_main_list {
  height: fit-content;
  margin-left: 20px;
  margin-top: 20px;
}

.list_content {
  padding: 10px;
}

.list_content h3 {
  text-decoration: underline;
  text-underline-offset: 3px;
  margin: 10px 0px;
}

@media screen and (max-width: 800px) {
  .view_main_list {
    height: fit-content;
  }
}
