@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.container_forgot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.5px;
}

.login_box_forgot {
  height: 370px;
  width: 470px;
  max-width: 500px;
  min-height: 350px;
  min-width: 470px;
  max-height: 500px;
  position: relative;
  padding: 50px;
  border: 2.5px solid;
  margin-top: 180px;
  box-shadow: 0px 0px 5px;
}

.input_field_forgot {
  padding: 10px;
  border: none;
}

.input_group_forgot h3 {
  padding-bottom: 20px;
}

.header_forgot {
  position: absolute;
  margin: -30% 0 0 20%
}

.input_forgot {
  height: 40px;
  border: 1.5px solid #ccc;
  display: inline-block;
  border-radius: 5px;
  margin-top: 10px;
  width: 350px;
  outline: none;
  padding-left: 20px;
}

.header_img_forgot {
  position: absolute;
  margin: -29% 0 0 9%;
}

.button_forgot {
  height: 35px;
  padding-inline: 35px;
  background-color: #20232a;
  color: #ffffff;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  margin: 30px 120px;
  cursor: pointer;
}

.para_forgot {
  padding-bottom: 20px;
  font-size: 15px;
  font-weight: 590;
}
