@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.main_page_list {
  margin-top: 15px;
  height: fit-content;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

tbody td {
  padding: 12px;
}

.button_list {
  display: flex;
  width: 60px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  background: #f2f2f2;
  color: black;
  cursor: pointer;
  justify-content: center;
}

.carousel {
  position: relative;
  margin-left: 35%;
  margin-top: 200px;
  margin-bottom: 30px;
}



@media screen and (max-width: 800px){
  tbody td {
  padding: 2px;
}
  .carousel {
    margin-left: 25%;
  }
}

@media screen and (max-width: 550px) {
  .main_page_list {
    margin: 0px;
  }
  .carousel {
    margin-left: 10%;
  }
  thead th {
    padding: 2px;
  }

  tbody td {
  padding: 0px;
}

}
