@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

.mainPageList {
  height: fit-content;
  margin: 15px 10px 0 10px;
  position: relative;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 12px;
  text-align: left;
  font-weight: normal;
  border: 1px solid gray;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

tbody td {
  text-align: left;
  padding: 12px;
  font-size: 14px;
  border: 1px solid gray;
}

.buttonList {
  width: 50px;
  padding: 1px;
  color: black;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  font-size: 0.7rem;
}

.searchQuery {
  padding-left: 10px;
  margin: 20px 0 20px 0px;
  width: 30%;
  outline: none;
}

.searchQueryMessage {
  font-size: 16px;
  text-align: left;
  margin: 50px 0 -60px 20px;
}
.carousel {
  position: relative;
  margin: 40px 0 10px 45%;
}

.listButtons {
  display: flex;
  gap: 5px;
  justify-content: center;
}

.flexRow {
  display: flex;
}

.headingAddress {
  display: flex;
  padding: 20px;
  background-color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  box-shadow: 0 0 5px;
}


.alignRight {
  position: absolute;
  right: 5%;
  top: 30px;
  display: flex;
}

.alignRight h3 {
  font-size: 20px;
  font-weight: normal;
}

.flexRow img {
  margin-top: 5px;
}


.flexRow h1 {
  font-size: 25px;
  margin-top: 8px;
  font-weight: normal;
  position: relative;
}

.sideBarContent {
  padding: 10px 10px;
}

.sideBarContent:hover {
  background-color: #74acc4;
}

@media screen and (max-width: 1000px) {
  .containerMainPage {
    width: 74vw;
    margin-left: -7%;
  }
  .navBar {
    width: 74vw;
    margin-left: -7%;
  }
}

@media screen and (max-width: 800px) {
  tbody td {
    padding: 2px;
  }
  .carousel {
    margin-left: 25%;
  }
  .containerMainPage {
    width: 70vw;
    margin-left: -5%;
  }
  .nav_Bar {
    width: 70vw;
    margin-left: -5%;
  }
}

@media screen and (max-width: 550px) {
  .mainPageList {
    margin: 0px;
  }
  .carousel {
    margin-left: 50vw;
  }
  thead th {
    font-size: 20px;
    padding: 0px;
  }

  tbody td {
    font-size: 16px;
    padding: 0px;
  }

  .containerMainPage {
    margin-left: 30px;
    overflow-x: scroll;
  }
}
