.number-buttons {
  position: relative;
  margin-top: 1rem;
  display: flex;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  padding: 0.5rem 0;
}

.button-container button {
  display: flex;
  width: 100%;
  background-color: #fff;
  color: black;
  padding: 0.3rem 0.5rem;
  border: 1px solid #ccc;
  /* border-top: 1px solid #ccc; */
  cursor: pointer;
}

.button-container button.active {
  background-color: lightseagreen;
  color: #fff;
}

.carousel-arrow {
  margin: 15px 5px 0 5px;
}

@media screen and (max-width:800px){
  .button-container button {
    padding: 0.2rem 0.4rem;
  }
}

@media screen and (max-width:650px){
  .button-container button {
    padding: 0.1rem 0.3rem;
  }
  .carousel-arrow {
  margin: 12px 5px 0px 5px;
}
}
