@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrap {
  display: flex;
  margin-bottom: -3%;
  padding: 10px 10px 10px 0px;
}

.wrap h3 {
  font-weight: normal;
  color: #0c5675;
}
.content {
  display: flex;
  position: relative;
  width: 90vw;
}

.sideBar {
  display: flex;
  flex-direction: column;
  width: 15%;
  background-color: #1e6b8b;
  padding: 20px;
  font-weight: 600;
  text-decoration: none;
  position: fixed;
  height: 90vh;
  margin-top: 87px;
  z-index: 1;
}

.mainContent {
  z-index: 0;
  flex: 1;
  padding-top: 9rem;
  padding-left: 16rem;
  margin-bottom: 30px;
}

.pageContent {
  display: flex;
  flex-direction: row;
  width: 95vw;
  margin-right: 120px;
}

.containerMainPage {
  box-shadow: 0 0 1px;
}

.textColor {
  text-decoration: none;
  color: #20232a;
  padding-left: 10px;
  font-weight: normal;
  font-size: 17px;
}

.textColor:hover {
  cursor: pointer;
}

.sideBarTextColor {
  text-decoration: none;
  color: white;
  font-weight: lighter;
}

.navBar {
  padding: 10px;
  font-weight: 600;
  position: relative;
  background-color: #f5f6f7;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 17px;
  margin-top: -8px;
}

.buttonToNavigate {
  position: absolute;
  right: 20px;
  bottom: 10px;
  outline: none;
  border: none;
  background: none;
  font-size: medium;
  font-weight: normal;
}

.buttonToNavigate:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
  cursor: pointer;
}

.nameField {
  padding: 20px;
  box-shadow: 0 0 1px;
  --input-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.addressBar {
  padding: 20px;
  box-shadow: 0 0 1px;
}

.formGrid {
  --input-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.select {
  width: var(--input-width);
  height: 40px;
  margin-top: 10px;
  border: 1.5px solid #ccc;
  outline: none;
  padding-left: 15px;
  font-weight: 400;
}

.buttonRemove {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 5px 0;
  cursor: pointer;
  padding: 3px;
}

.forgotLogin {
  text-decoration: none;
  color: #0e0d0d;
}

.forgotLogin:hover {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.nameBar {
  --input-width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}
.emailAddress {
  padding: 20px;
  box-shadow: 0 0 1px;
}

.buttonAddress {
  display: flex;
  width: 70px;
  align-items: center;
  justify-content: center;
  margin: 30px 0 5px 0;
  cursor: pointer;
  padding: 3px;
  background-color: #0f516d;
  border: none;
  border-radius: 3px;
  color: white;
}

.buttonAddress:hover {
  background-color: #2c8eb8;
}

.buttonAdd {
  border: none;
  background: none;
  padding-bottom: 25px;
  cursor: pointer;
  margin: -2px 0 0 5px;
  color: #0c5675;
  font-size: 23px;
}

.inputAddress.warningBorderColor {
  border: 1px solid red;
}

.phoneNumber {
  padding: 20px;
  box-shadow: 0 0 1px;
}

.footerAddress {
  display: flex;
  padding-bottom: 20px;
  justify-content: center;
  box-shadow: 0 0 1px;
}

.buttonFooter {
  width: 60px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  margin-inline: 10px;
  padding: 5px;
  cursor: pointer;
  background-color: #0f516d;
  border-radius: 4px;
  border: none;
  color: white;
}

.flexColumn {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.logo {
  width: 40px;
  height: 40px;
}

.warningMessage {
  color: red;
  font-size: 12px;
}

.inputAddress {
  width: var(--input-width);
  border-radius: 2px;
  margin-top: 10px;
  border: 1.5px solid #ccc;
  outline: none;
  padding-left: 15px;
  height: 40px;
  font-size: 13px;
}

.minimumFieldMessage {
  position: absolute;
  margin-top: 25px;
  font-size: 12px;
}

.inputAddress::placeholder {
  color: black;
  font-weight: 400;
}

.option {
  display: none;
}

.button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .mainContent {
    height: fit-content;
  }

  .buttonToNavigate {
    position: relative;
    right: 0px;
    bottom: 0;
    margin-left: 10px;
  }
}

@media screen and (max-width: 650px) {
  .formFlex {
    grid-template-columns: 1fr;
  }
  .sideBar {
    width: 20%;
  }
  .mainContent {
    height: fit-content;
    /* margin-left: 8rem; */
  }
}

@media screen and (max-width: 550px) {
  .buttonToNavigate {
    position: relative;
    right: 0px;
    bottom: 0px;
  }
  .textColor {
    padding-left: 0px;
  }
  .mainContent {
    margin-top: 70px;
    margin-left: -150px;
  }
  .sideBar {
    width: 100%;
    height: 10%;
    flex-direction: row;
    margin-top: 80px;
    align-items: center;
  }
  .nameField {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 490px) {
  .mainContent {
    height: fit-content;
    margin-left: -200px;
    margin-bottom: 30px;
  }

  .headingAddress h3 {
    font-size: 15px;
  }

  .headingAddress h1 {
    font-size: 25px;
  }
  .sideBar {
    margin-top: 86px;
    height: 10%;
  }
}

@media screen and (max-width: 400px) {
  .sideBar {
    height: 8%;
  }

  .containerMainPage {
    overflow-x: scroll;
  }
}
